doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    // ARIA Landmark Roles throughout
    header
        // Role Banner
        .Topbar
            // Create images, text input, button to associate with user
            .ContactTop
                a.listcontact(href='#', target='_blank', title='Click to view Contact')
                    img(src='./images/contact_icon_30x21.png', alt='Contact')
                    | Contact Us
            .Info
                a.listinfo(href='#', target='_blank', title='Click to view Info')
                    img(src='./images/letter_icon.png', alt='Info')
                    | info@sun.ca
            .Tell
                a.listtell(href='#', target='_blank', title='Click to view Contact')
                    img(src='./images/Tell_icon.png', alt='Tell')
                    | (512) 895-8569
            .signin
                a.signin(href='#', target='_blank', title='Click to Signin') SIGN IN
            .login
                a.login(href='#', target='_blank', title='Click to Login') LOG IN
            .Search
                form(action='#')
                    input.sitesearch(type='text', name='sitesearch', value='Search for...')
                    input.buttonsearch(type='submit', name='start_search', value='Search')
        // Create logo for company
        h1
            a#logo(href='/')
                img(src='images/logo_O_204x84.png', alt='Logo')
        // Create a navigation to introduce the company to customers
        // Role Navigation
        nav#floatingbar(role='navigation')
            // Function as a hamburger menu icon (http://copypastecharacter.com/graphic-shapes)
            a#menu-icon(href='#') ☰
            ul
                li
                    a(href='#') New All
                li
                    a(href='#') Get Involved
                li
                    a(href='/products') Need Food?
                li
                    a(href='#') About Us

    block content
    footer(role='contentinfo')
      section
        // Introduse some information about the company to customers
        .container-fluid
          // Create a row struture with five columns
          .row
            .col-sm-2
              h3 COMPANY
              br
              p About
              br
              p Need Food?
              br
            .col-sm-2
              h3 VOLUNTEER
              br
              p Volunteer
              br
              p Contact Us
            .col-sm-2
              h3 EVENTS
              br
              p New-All
              br
              p Events
              br
            .col-sm-4
              h3 STAY CONNECT TO US
              br
              .row
                .col-sm-4
                  p
                    label Email Address
                .col-sm-8
                  input#email_address(type='email', aria-labelledby='email_address', required='')
              button.subscribe(type='submit') Subscribe
        br
      section
        // Introduse some information about the company to customers
        .container-fluid
          // Create a row struture with five columns
          .row
            #copyright.col-sm-6.col-md-6.col-lg-12
              | Copyright 2018 FOOD COMPANY - HienLam. 
              a(href='') Privacy Policy
              a(href='') Site Map 
              a(href='') Contact Us.
            #social.col-sm-6.col-md-6.col-lg-6
              .col-sm-2
                a(href='https://twitter.com', target='_blank', title='Click to view twitter')
                  img(src='images/twitter.png', alt='twitter', width='10')
              .col-sm-2
                a(href='https://www.facebook.com', target='_blank', title='Click to view facebook')
                  img(src='images/facebook.png', alt='facebook', width='10')
              .col-sm-2
                a(href='https://www.pinterest.ca', target='_blank', title='Click to view pinterest')
                  img(src='images/pinterest.png', alt='pinterest', width='10')
              .col-sm-2
                a(href='https://www.linkedin.com', target='_blank', title='Click to view linkedin')
                  img(src='images/linkedin.png', alt='linkedin', width='10')
              .col-sm-3
                a.top(href='#', title='Back to Top')
                  img(src='images/arrow_38x38_bottom.png', alt='Back to Top', width='38', height='38')
        br
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    script(src='/javascripts/gallery.js', type='text/javascript')
    script(src='/javascripts/select.js', type='text/javascript')
    script(src='/javascripts/check.js', type='text/javascript')
    script(src='/javascripts/tab.js', type='text/javascript')
    script(src='/javascripts/sort.js', type='text/javascript')
    script(src='/javascripts/arrow.js', type='text/javascript')
    script(src='/javascripts/custom.js', type='text/javascript')
