extends layout
block content
  h1 #{title}
  .container
    .col-sm-12
      .row
        each item in products
          article(role='article')
            .col-sm-12.col-md-6.col-lg-3.well2
              // Create detailed price information food and share information
              h2 #{item.productName}
              h3.linkshare
                | #{item.price} | SHARE
                a(href='https://twitter.com', target='_blank', title='Click to view twitter')
                  img.img-linknetwork(src='images/twitter.png', alt='twitter', width='17')
                a(href='https://www.facebook.com', target='_blank', title='Click to view facebook')
                  img.img-linknetwork(src='images/facebook.png', alt='facebook', width='17')
                a(href='https://www.pinterest.ca', target='_blank', title='Click to view pinterest')
                  img.img-linknetwork(src='images/pinterest.png', alt='pinterest', width='17')
                a(href='https://www.linkedin.com', target='_blank', title='Click to view linkedin')
                  img.img-linknetwork(src='images/linkedin.png', alt='linkedin', width='17')
              img(src= item.image, style='width:100%;', alt='ADS')
              p Good quality food
              // Create vote quality, shipping cost about food
              h4
                a
                  | RATE:
                  span.fa.fa-star.fa-1x.checked
                  span.fa.fa-star.fa-1x.checked
                  span.fa.fa-star.fa-1x.checked
                  span.fa.fa-star.fa-1x
                  span.fa.fa-star.fa-1x
              // Choose size for food
              h4 #{item.foodSize}
              // Choose buy food
              button.addtocart(role='button', type='submit') Add To Cart
            // End class col-sm-3 well